.slot {
    &__box {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
		margin-top: 16px;
    }

    &__item {
        display: inline-flex;
        position: relative;
        flex-wrap: wrap;
        width: 25%;
        text-align: center;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;

        .badge {
            width: calc(100% - 10px);
            margin-left: 5px;
			text-align: center;

            .badge__content > span:first-child {
                display: block;
                padding-bottom: 3px;
                margin-bottom: 3px;
				border-bottom: 1px solid rgba(234, 234, 234, .7);
			}

			&.actived {
				background-color: var(--purple);
				border-color: var(--purple);
				color: white;

				.badge__content > span:first-child {
					border-bottom: 1px solid rgba(234, 234, 234, .1);
				}
			}
        }
    }

	&__pending {
		margin-top: 16px;
		font-size: 14px;
		text-align: center;
	}
}
