.recover-password {
	&__form {
		margin-top: 16px;
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;

		.card__title {
			color: var(--purple);
		}
	}

	&__error {
		margin-bottom: 8px;
		text-align: center;
		color: var(--orange);
	}

	&__success {
		margin-bottom: 8px;
		text-align: center;
		color: var(--green);
	}

	&__field {
		margin-bottom: 16px;
	}

	&__redirect {
		text-align: center;

		a {
			color: var(--purple);
			font-weight: bold;
		}
	}
}
