.page {
  &__header {
    width: 100%;
    padding-bottom: 24px;
    text-align: center;
  }

  &__title {
    font-size: 26px;

    &--medium {
      font-size: 22px;
    }
  }

  &__description {
    font-weight: 300;
    margin-top: 16px;

    span {
      font-size: 14px;
    }
  }
}
