.card--date {
  .card__title {
    color: var(--blue);
  }
}

.card--professional {
  .card__title {
    color: var(--orange);
  }
}

.card--service {
  .card__title {
    color: var(--purple);
  }
}

.card--slots {
  .card__title {
    color: var(--green);
  }
}

.card--schedule {
  .card__title {
    color: var(--dark);
  }
}
