.badge {
  padding: 7.5px;
  border: 1px solid var(--white);
  border-radius: 4px;
  font-size: 14px;
  display: inline-block;

  &--outline {
    border-color: var(--dark);
  }

  &--dark {
    background-color: var(--purple);
    color: var(--white);

    a {
      color: var(--white);
    }
  }

  &--light {
    background-color: var(--white);
    color: var(--dark);

    a {
      color: var(--dark);
    }
  }
}
