.button {
  height: 48px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0 16px;
  background-color: #ffffff;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.3s linear;
  color: var(--primary);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.6;
    background-color: var(--white);
    border-color: var(--tertiary);
    color: var(--tertiary);
  }

  &--small {
    height: 34px;
    font-size: 13px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }

  &--secondary {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--white);
  }

  &--link {
    color: var(--primary);
    background-color: transparent;

    &:disabled {
      border-color: transparent;
    }
  }
}
