$secondary: rgba(132, 43, 216, 1);
$text-color: #2f2f2f;
$color-success: #08c174;
$color-white: #ffffff;

:root {
  --dark: #2f2f2f;
  --light-gray: #f5f5f5;
  --gray: #a5aab5;
  --white: #ffffff;
  --purple: #5843be;
  --blue: #1a55af;
  --orange: #fa5f1c;
  --green: #427a0a;
  --yellow: #f7b62f;
}

.color {
  &--white {
    color: var(--white);
  }

  &--green {
    color: var(--green);
  }

  &--purple {
    color: var(--purple);
  }

  &--blue {
    color: var(--blue);
  }

  &--orange {
    color: var(--orange);
  }

  &--green {
    color: var(--green);
  }
}
