.grouped-button {
  display: flex;

  &__label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding-right: 0;
    font-weight: 400;
    background: var(--light-gray);
    padding-left: 15px;
  }

  &__input {
    @extend .input;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
  }
}
