.input {
  padding: 0 16px;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: var(--tertiary-light);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &::placeholder {
    color: var(--tertiary);
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary);
    background-color: var(--white);
  }
}

.radio {
  width: 18px;
  height: 18px;
}

.checkbox {
  width: 18px;
  height: 18px;
}
