.select {
  padding: 0 16px;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  height: 48px;
  background-color: var(--light-gray);
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-right: 16px;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--dark {
    border-color: #d7d7d7;
  }
}
