.container {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
	margin-top: 16px;
	margin-bottom: 24px;
    display: flex;
    flex-direction: column;
	width: 100%;
}
