.button {
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    border: none;
    font-size: 14px;
    padding: 0 12px;
    background-color: #ffffff;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all .3s linear;
	color: var(--dark);
	cursor: pointer;
	$self: &;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
        opacity: 0.8;
    }

    &:disabled {
		opacity: 0.5;
		background-color: #ffffff;
		border-color: #d7d7d7;
		color: var(--dark);
	}

	&--small {
		height: 34px;
		font-size: 13px;
	}

    &--block {
        display: block;
        width: 100%;
    }

	&--purple {
		border-color: var(--purple);
		background-color: var(--purple);
		color: white;
	}

	&--secondary {
		border-color: var(--blue);
		background-color: var(--blue);
		color: white;
	}

	&--green {
		border-color:var(--green);
		background-color:var(--green);
		color: white;
	}

	&--outline {
		border-color: var(--dark);
	}
}
