:root {
  --primary: #6366f1; //indigo-500
  --secondary: #1e293b; //slate-800
  --tertiary: #9ca3af; //gray-400
  --tertiary-light: #e5e7eb; //gray-200
  --danger: #ef4444; //red-500
  --sucess: #22c55e; //green-500
  --white: #fff;
}
