@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  &:after {
    content: ' ';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid;
    border-color: var(--purple) transparent var(--purple) transparent;
    animation: loading-animation 1.2s linear infinite;
  }

  &--purple:after {
    border-color: var(--purple) transparent var(--purple) transparent;
  }
}
