.slot {
    &__box {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }

    &__item {
        display: inline-flex;
        position: relative;
        flex-wrap: wrap;
        width: 25%;
        text-align: center;
        cursor: pointer;
        .badge {
            width: calc(100% - 10px);
            margin-left: 5px;
            text-align: center;
            .badge__content > span:first-child {
                display: block;
                padding-bottom: 3px;
                margin-bottom: 3px;
				border-bottom: 1px solid rgba(234, 234, 234, .7);
			}

			&.actived {
				background-color: $primary;
				border-color: $primary;
				color: white;
				.badge__content > span:first-child {
					border-bottom: 1px solid rgba(234, 234, 234, .1);
				}
			}
        }
    }
}
