.label {
  &__box {
    display: flex;
    align-items: center;
  }

  &__description {
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
}

.flexbox {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--end {
    align-items: flex-end;
  }

  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &__justify--center {
    justify-content: center;
  }

  &__justify--end {
    justify-content: flex-end;
  }

  &__justify--between {
    justify-content: space-between;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &__item {
    flex: 1;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: center;
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.link {
  &--small {
    font-size: 13px;
  }
}
