.sign-up {
  &__form {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    .card__title {
      color: var(--purple);
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__error {
    margin-bottom: 8px;
    text-align: center;
    color: var(--orange);
  }

  &__field {
    margin-bottom: 16px;
  }

  &__redirect {
    text-align: center;

    a {
      color: var(--purple);
      font-weight: bold;
    }
  }
}
