.company-thumb {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: var(--light-gray);
  border: 1px solid #eaeaea;

  &__image {
    width: 100%;
    height: auto;
  }
}
