.contact-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;

  > p {
    color: var(--dark);
    margin-bottom: 5px;
    font-size: 14px;

    > a {
      color: var(--dark);
      text-decoration: underline;
    }
  }
}
