.customer-sign-in {
  &__form {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    .card__title {
      color: var(--purple);
    }
  }

  &__error {
    margin-bottom: 8px;
    text-align: center;
    color: var(--orange);
  }

  &__field {
    margin-bottom: 16px;
  }

  &__forgot-password {
    margin-bottom: 16px;

    a {
      color: var(--dark);
    }
  }
}
