.image-upload {
  display: flex;

  &__wrapper {
    flex-direction: column;
    padding: 6px;
    background-color: #eaeaea;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__preview {
    width: auto;
    height: 60px;
    margin: 6px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
